#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_build:
	dh_auto_build -- PREFIX=../debian/valkey/usr
	# Add custom build commands here if needed

override_dh_auto_install:
	dh_auto_install -- PREFIX=../debian/valkey/usr

	# Main package installation steps
	# Cleaning up not needed directories as per RPM spec
	rm -rf debian/valkey/usr/share/valkey

	# Installing configuration and support files
	install -D -m 0644 debian/valkey.sysusers debian/valkey/etc/sysusers.d/valkey.conf
	install -D -m 0644 debian/valkey.logrotate debian/valkey/etc/logrotate.d/valkey
	install -D -m 0644 debian/valkey-limit-systemd debian/valkey/lib/systemd/system/valkey.service.d/limit.conf
	install -D -m 0644 debian/valkey-limit-systemd debian/valkey/lib/systemd/system/valkey-sentinel.service.d/limit.conf

	# Creating necessary directories
	install -d debian/valkey/var/lib/valkey
	install -d debian/valkey/var/log/valkey
	install -d debian/valkey/var/run/valkey
	install -d debian/valkey/etc/valkey
	install -d debian/valkey/usr/lib/valkey/modules

	install -D -m 0644 debian/../src/modules/*  debian/valkey/usr/lib/valkey/modules/
	install -D -m 0644 debian/../valkey.conf debian/valkey/etc/valkey/valkey.conf
	install -D -m 0644 debian/../sentinel.conf debian/valkey/etc/valkey/sentinel.conf
	# Service configuration
	install -D -m 0644 debian/valkey.service debian/valkey/lib/systemd/system/valkey.service
	install -D -m 0644 debian/valkey-sentinel.service debian/valkey/lib/systemd/system/valkey-sentinel.service

	# Permissions for executables
	chmod 755 debian/valkey/usr/bin/valkey-*

	# RPM macro configuration equivalent
	install -D -m 0644 debian/macros.valkey debian/valkey/etc/default/valkey

	# Sysconfig files
	install -D -m 644 debian/valkey.sysconfig debian/valkey/etc/sysconfig/valkey
	install -D -m 644 debian/valkey-sentinel.sysconfig debian/valkey/etc/sysconfig/valkey-sentinel

	# Script files for compat package
	install -D -m 755 debian/conf_update.sh debian/valkey-compat/usr/libexec/conf_update.sh

	# Devel package files
	install -D -m 0644 src/valkeymodule.h debian/valkey-devel/usr/include/valkeymodule.h

	mkdir -p debian/valkey/usr/share/doc/valkey/
	cp deps/lua/COPYRIGHT debian/valkey/usr/share/doc/valkey/COPYRIGHT-lua
	cp deps/jemalloc/COPYING debian/valkey/usr/share/doc/valkey/COPYING-jemalloc
	cp deps/hiredis/COPYING debian/valkey/usr/share/doc/valkey/COPYING-hiredis-BSD-3-Clause
	cp deps/hdr_histogram/LICENSE.txt debian/valkey/usr/share/doc/valkey/LICENSE-hdrhistogram
	cp deps/hdr_histogram/COPYING.txt debian/valkey/usr/share/doc/valkey/COPYING-hdrhistogram
	cp deps/fpconv/LICENSE.txt debian/valkey/usr/share/doc/valkey/LICENSE-fpconv

override_dh_install:
	# Additional installation steps if required

override_dh_clean:
	dh_clean
	# Clean up steps if required

override_dh_auto_test:

